API_URL=http://localhost:8000
NEXT_PUBLIC_API_URL=http://localhost:8000
ADMIN_EMAIL=admin@promptguard.local
ADMIN_PASSWORD_HASH=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
PROMPTGUARD_API_KEY=
ADMIN_SECRET_KEY=
